<section class='public-recipe-page'>
   <h1>Public Recipes</h1>
   <br>
   <% if @recipes.length == 0 %>
      <p>There are no public recipes yet.</p>
   <% else %>
   <div class = "public-list">
      <%@recipes.each do |recipe|%>
         <article class="public_recipes">
            <%=link_to recipe_path(id: recipe.id), class: "recipe-link" do%>
               <div>
                  <h3 class = "recipe-name"><%=recipe.name%></h3>
                  <h4 class = "recipe-owner">By: <%=recipe.user.name%></h4>
               </div>
            <%end%>
            <div class ="total-part">
               <p>Total food items: <%=recipe.recipe_foods.length%></p>
               <%total_price = 0%>
               <%recipe.recipe_foods.each do |recipe_food|%>
               <%price = recipe_food.quantity* recipe_food.food.price%>
               <%total_price = total_price + price%>
               <%end%>
               <p>Total price: <%=total_price%> $</p>
            </div>
         </article>
      <%end%>
   </div>
   <%end%>
</section>