<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%#= render recipe %>
    <%if recipe.public == true || recipe.user_id == current_user.id %>
    <a href = "<%= recipe_path(recipe) %>">
      <p>
        <strong>Name:</strong>
        <%= recipe.name %>
      </p>
    </a>
    <%else%>
      <p>
        <strong>Name:</strong>
        <%= recipe.name %>
      </p>
    <%end%>

    <p>
      <strong>Description:</strong>
      <%= recipe.description %>
    </p>
    
    <%if recipe.user_id == current_user.id %>
      <%= button_to "Destroy this recipe", recipe, method: :delete %>
    <%end%>
    <%# <p> %>
      <%#= link_to "Show this recipe", recipe %>
    <%# </p> %>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
